.prata-regular {
    font-family: "Prata", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .bg-custom {
    background-color: #f7f7f7;
    box-shadow: 7px 7px 15px rgba(11, 11, 11, 0.25);

  }
  .border-custom {
    border-color: #e0e0e0; 

  }
  .form-label{
    font-weight: 600;
    font-family: "Montserrat", sans-serif;

  }
  .form-control{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;

  }